/* SETTINGS */
.title {
  font-size: 18px;
}

.list {
  margin-bottom: 10px;
}

.list__link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.comebackBtn {
  display: block;
  cursor: pointer;
  margin-bottom: 20px;
  color: blue;
  text-decoration: none;
}

/* TASK_3 */
.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery__img {
  display: block;
  max-width: 270px;
  height: 180px;
}

/* TASK_6 */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
